.propos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      row-gap: 38px;
      margin: 38px 0px 38px 0px;
      .volets {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 30px;
      }
}

@media screen and (max-width: 768px) {
      .propos {
            .volets {
                  row-gap: 20px;
            }
      }
}
