@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.collapse {
      .collapse-header {
            padding: 10px 20px 10px 15px;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #ff6060;
            color: white;
            height: 52px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px;
            font-family: "Montserrat", sans-serif;
            border: solid;
            .collapse-icon {
                  transition: transform 0.5s ease;
                  i {
                        cursor: pointer;
                  }
            }
            .rotateDown {
                  transform: rotate(-180deg);
            }
            .rotateUp {
                  transform: rotate(0);
            }
      }
      .content {
            background-color: #f6f6f6;
            color: #ff6060;
            border-radius: 10px 10px 5px 5px;
            overflow: hidden;
            font-family: "Montserrat", sans-serif;
            width: 100%;
            box-sizing: border-box;
            font-size: 18px;
            line-height: 25px;
            overflow: hidden;
            transition: max-height 0.5s ease;
            .inner {
                  margin: 15px 20px 20px 20px;
            }
            ul {
                  list-style-type: none;
            }
      }
}

@media screen and (max-width: 768px) {
      .collapse {
            .collapse-header {
                  height: 32px;
                  font-size: 13px;
            }
            .content {
                  font-size: 12px;
            }
      }
}
