.carousel {
      max-height: 415px;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 25px;
      .chevronGauche {
            position: absolute;
            top: calc(50% - 40px);
            left: 23px;
            z-index: 5;
      }
      .chevronDroit {
            position: absolute;
            top: calc(50% - 40px);
            right: 23px;
            z-index: 5;
      }
}

@media screen and (max-width: 768px) {
      .carousel {
            max-height: 255px;
      }
}
